@font-face {
    font-family: Montserrat-Medium;
    src: url("Sources/fonts/montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family: Montserrat-Regular;
    src: url("Sources/fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Montserrat-LightItalic;
    src: url("Sources/fonts/montserrat/Montserrat-LightItalic.ttf");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
header {
    margin-left: 18vw;
    padding: 0 25px;
    width: 62.5vw;
    height: 110px;
    border: 2px;
    border-radius: 1px;
    border-style: none none solid none;
    border-image:  linear-gradient(
        to right, #e877ae, #7c73f3
    ) 100% 1%;;
}
header ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
}

#Logo {
    margin-top: 40px;
    float: left;
}
#Auth {
    cursor: pointer;
    margin-top: 42px;
    float: right;
    margin-bottom: 30px;
    width: 118px;
    height: 38px;
    border: 2px solid white;
    border-radius: 10px;
    transition-duration: 0.2s;
    text-align: center;
}
#Auth:hover {
    margin-top: 25px;
    height: 68px;
}
#Auth:hover .button-register {
    opacity: 1;
    transition: 0.7s;
    visibility: visible;
}
#Auth .button {
    display: block;
    background: none;
    color: white;
    border: none;
    border-radius: 10px;
}
#Auth .button-login {
    height: 32px;
    margin-top: 10px;
    font-size: 21px;
    font-family: Montserrat-Medium;
}
#Auth .button-register {
    height: 35px;
    font-size: 13px;
    opacity: 0;
    transition: 0s;
    font-family: Montserrat-Regular;
    visibility: hidden;
}
.selection-shadow {
    height: 35px;
    width: 118px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    z-index: -1;
    margin-top: -76px;
    transition: margin 0.2s;
}
#Auth .button-login:hover ~ .selection-shadow{
    border-radius: 10px 10px 0 0;
    background: #16191f;
    color: white;
    margin-top: -76px;
}
#Auth .button-register:hover ~ .selection-shadow{
    border-radius: 0 0 10px 10px;
    background: #16191f;
    color: white;
    margin-top: -42px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0e1118;
}
footer ul {
    list-style: none;
    width: 68vw;
    height: 22px;
    margin: 15px 16vw;
    padding: 0;
}
footer .Text, a {
    color: #20232d;
    line-height: 16px;
}
footer .Text{
    text-align: center;
    font-family: Montserrat-LightItalic;
    font-size: 20px;
    width: 200px;
}
footer .Org-Name {
    float: left;
}
footer .Sign {
    float: right;
}
footer #LogoFooter {
    position: fixed;
    display: block;
    margin-left: Calc(34vw - 102px);
}

.Form {
    display: block;
    width: 420px;
    margin: 9vh auto 0 auto;
}
.Form svg {
    display: block;
    margin: 0 auto;
}
.Form #TextLogin {
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: Montserrat-Regular;
    line-height: 24px;
}
.Form #TextLogin::first-line {
    font-family: Montserrat-Medium;
}
.Form .login-data {
    width: 100%;
}

.Form .login-data input {
    font-size: 20px;
    font-family: Montserrat-Regular;
    text-align: center;
    border: 1px solid #0e1118;
    border-style: none none solid none;
    border-radius: 2px;
    background: none;
    width: 100%;
    padding: 15px 0;
    color: white;
    outline: none;
    transition: border-color 0.4s;
}
.Form .login-data input:focus {
    border-color: #3e4350;
    border-width: 2px;
}
.Form .login-data input::placeholder {
    color: b2b2b2;
}
.Form .login-data button {
    font-family: Montserrat-Medium;
    font-size: 20px;
    margin-top: 35px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
        90deg, #e877ae, #7c73f3
    ) 100% 100%;
    color: white;
    transition: 0.2s;
}
.Form .login-data button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.Form .login-data button:active {
    transform: translateY(0px);
    box-shadow: none;
}

#UserHeader {
    float: right;
    color: white;
}
#UserHeader ul li{
    display: inline-block;
}
#UserHeader .userName {
    font-size: 20px;
    font-family: Montserrat-Regular;
}
#UserHeader .userPicture {
    height: 35px;
    width: 35px;
    border-radius: 40px;
}